<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
<div class="flexbox-item-upperbanner">
  <th:block th:insert="~{/fragments.html :: header}"></th:block>
</div>

<div class="page-wrapper">
<h2>Se dine tilbud</h2>

<p class="intro-text">Her kan du se de tilbud, du har modtaget. <br>
    Gennemgå oplysningerne og vælg, om du vil acceptere, oprette et modtilbud eller sende en kommentar.
    <div th:if="${errmsg != null}" class="alert-error" th:text="${errmsg}"></div>
</p>


<div class="tilbud-list">
<section class="offer-box" th:each="offer : ${offers}">
    <p class="label-line">
        Tilbud
    </p>

    <p class="label-line">
    <strong>Forespørgsel:</strong>
    <span th:text="${offer.text}"></span>
    </p>

    <p th:if="${offer.status.name() != 'SALESPERSON'}" class="label-line">
    <strong>Tilbud fra sælger</strong>
    <span th:text="${offer.price}"></span>
    </p>

    <!--TODO: move to orderConfirmation
        <div class="stykliste-box">
            <h3>Styklisten</h3>

            <table class="stykliste-table">
                <tr>
                    <th>Trætype</th>
                    <th>Antal</th>
                    <th>Længde</th>
                    <th>Bredde</th>
                    <th>Højde</th>
                    <th>Pris</th>
                </tr>

                 <th:block th:each="bill : ${#ctx.getAttribute('bills_' + offer.id)}">
                    <tr>
                        <td th:text="${@app.web.Translator@translate(bill.category)}"></td>
                        <td th:text="${bill.quantity}"></td>
                        <td th:text="${bill.length}"></td>
                        <td th:text="${bill.width}"></td>
                        <td th:text="${bill.height}"></td>
                        <td th:text="${bill.price} + ' kr'"></td>
                    </tr>
                </th:block>
        </table>
    </div>-->

    <!-- TODO: hide after accept or deny press -->
    <div th:if="${offer.status.name() == 'SALESPERSON'}">
        <p><em>Tilbuddet er i gang med at blive behandlet af en sælger</em></p>
    </div>

    <form th:if="${offer.status.name() == 'CUSTOMER'}" th:action="@{/offers/{id}/message(id=${offer.id})}" method="post" class="message-form">

        <div class="arial-font button-row">
            <label>
                <input type="radio"
                       name="decision"
                       value="ACCEPTED"
                       required>
                Accepter tilbud
            </label>

            <label>
                <input type="radio"
                       name="decision"
                       value="REJECTED">
                Afvis tilbud
            </label>
        </div>

        <label class="visually-hidden"
               th:for="'comment-' + ${offer.id}">
            Kommentar til tilbud
        </label>
        <textarea
                th:id="'comment-' + ${offer.id}"
                name="comment"
                placeholder="Evt. vedhæft kommentar til dit modtilbud her"
                rows="3"></textarea>

        <button type="submit" class="standard-blue-button">
            Send melding
        </button>
    </form>
</section>
</div>
</div>

</body>
</html>