<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../public/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet">
</head>
<body>

<div class="header-menu" th:fragment="header">
  <div class="header-menu-item-fog">
    <a href=https://www.johannesfog.dk/>
      <button class="header-menu-button-FOG" type="submit">FOG</button>
    </a>
  </div>
  <div th:if="${user != null}" class="header-menu-item">
    <a href="/customer/offers">
      <button class="header-menu-button-tilbud" type="button">Tilbud</button>
    </a>
  </div>
  <div th:if="${user == null}" class="header-menu-item">
    <a href="/login">
      <button class="header-menu-button-login" type="button">Log in</button>
    </a>
  </div>
  <div class="header-menu-item" th:if="${user != null and user.role.name() == 'SALESPERSON'}">
    <a href="/sales">
      <button class="header-menu-button-SælgerView" type="button">SælgerView</button>
    </a>
  </div>

</div>


</body>
</html>