<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../public/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet">
</head>
<body>
<div class="flexbox-container-login">
    <div class="flexbox-item-login-box">
        <div class="header-menu-item-fog-login">
            <a href=https://www.johannesfog.dk/>
                <button class="header-menu-button-FOG" type="submit">FOG</button>
            </a>
        </div>
        <h1>Log på</h1>
        <p>Log på med din mailadresse</p>

        <div th:if="${errmsg != null}" class="alert-error" th:text="${errmsg}"></div>

        <div class="logininfo-input">

            <form method="post">

                <label for="email">Mailadresse:</label>
                <input type="text" id="email" name="email">

                <label for="name">Navn:</label>
                <input type="text" id="name" name="name" placeholder="Indtast kun hvis du vil registrere">

                <label for="password">Adgangskode:</label>
                <input type="password" id="password" name="password">

                <button type="submit" formaction="/login" class="login-button">Log på</button>
                <button type="submit" formaction="/register" class="register-button">Registrer</button>

            </form>

        </div>
    </div>
</div>


</body>
</html>