<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../public/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet">
</head>
<body>
<div class="flexbox-container">
    <div class="flexbox-item-upperbanner">
        <th:block th:insert="~{/fragments.html :: header}"></th:block>
    </div>
    <h2>Tak for din ordre!</h2>
    <p>Vi har modtaget din bestilling og er nu i gang med at behandle den.
        Du hører fra os, så snart der er nyt, eller hvis vi har brug for yderligere information.
    </p>
    <div class="spacing">
    <button class="standard-blue-button">Gå til startside</button>
    </div>
</div>


</body>
</html>